.progress-button {
	position: relative;
	display: inline-block;
	text-align: center;
}

.progress-button button {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 250px;
	height: 70px;
	border: 2px solid #1ECD97;
	border-radius: 40px;
	background: transparent;
	color: #1ECD97;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progress-button button:hover{
	background-color: #1ECD97;
	color: #fff; 
}

.progress-button button:focus {
	outline: none;
}

.progress-button svg {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transition: translateX(-50%);
	-o-transition: translateX(-50%);
	transition: translateX(-50%);
	pointer-events: none;
}

.progress-button svg path {
	opacity: 0;
	fill: none;
}

.process-button svg.progress-circle path {
	stroke: #1ECD97;
	stroke-width: 5;
}

.progress-button svg.checkmark path,
.progress-button svg.cross path {
	stroke: #fff;
	stroke-linecap: round;
	stroke-width: 4;
	-webkit-transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

.loading.progress-button button {
	width:70px;
	border-width: 5px;
	border-color: #ddd;
	background-color: transparent;
	color: #fff;
}